In [5]:
a={'姓名':'賴宏瑋','性別':'男','作業分數':[95,100,90]}
b={'學號':'M1129020'}
c={**a,**b}
import copy
d=copy.deepcopy(c)
c['作業分數'][1]=80
d['姓名']='許珈綺'
d['性別']='女'
d['學號']='M1229001'
e=c.pop('作業分數')
k=e[0]+e[1]+e[2]
k/=3
f=d.pop('作業分數')
g=f[0]+f[1]+f[2]
g/=3
print(c)
print(k)
print(d)
print(g)

{'姓名': '賴宏瑋', '性別': '男', '學號': 'M1129020'}
88.33333333333333
{'姓名': '許珈綺', '性別': '女', '學號': 'M1229001'}
95.0

In [9]:
a=[100,50,45,60,90,95,80,50]
a.insert(0,88)
a[2:4]=[70,50]
a.remove(50)
b=a.pop(0)
c=a.pop(-1)
d=b+c
print(d)

138

In [17]:
A=347//3
B=347%3
C=A**B
print(C)

13225